version: "3.7"

services:
  api:
    container_name: spring-boot-container
    ports:
      - "8080:8080"
    build:
      context: .
      dockerfile: /docker/test.Dockerfile
    restart: always
    networks:
      - infox
    volumes:
      - "./src:/app/src"

networks:
  infox: